<form [formGroup]="productForm" (ngSubmit)="handleSubmit()">
  <div class="mb-3">
    <label for="name" class="form-label">Name</label>
    <input
      type="text"
      class="form-control"
      id="name"
      formControlName="name"
      [ngClass]="{
        'is-invalid': productForm.get('name')?.invalid && productForm.get('name')?.touched
      }"
    />
    <div
      *ngIf="productForm.get('name')?.invalid && productForm.get('name')?.touched"
      class="invalid-feedback"
    >
      <div *ngIf="productForm.get('name')?.errors?.['required']">
        Name is required.
      </div>
      <div *ngIf="productForm.get('name')?.errors?.['minlength']">
        Name must be at least 3 characters long.
      </div>
    </div>
  </div>

  <div class="mb-3">
    <label for="price" class="form-label">Price</label>
    <input
      type="number"
      class="form-control"
      id="price"
      formControlName="price"
      [ngClass]="{
        'is-invalid': productForm.get('price')?.invalid && productForm.get('price')?.touched
      }"
    />
    <div
      *ngIf="productForm.get('price')?.invalid && productForm.get('price')?.touched"
      class="invalid-feedback"
    >
      <div *ngIf="productForm.get('price')?.errors?.['required']">
        Price is required.
      </div>
      <div *ngIf="productForm.get('price')?.errors?.['min']">
        Price must be non-negative.
      </div>
    </div>
  </div>

  <div class="mb-3">
    <label for="image" class="form-label">Image</label>
    <input
      type="url"
      class="form-control"
      id="image"
      formControlName="image"
      [ngClass]="{
        'is-invalid': productForm.get('image')?.invalid && productForm.get('image')?.touched
      }"
    />
    <div
      *ngIf="productForm.get('image')?.invalid && productForm.get('image')?.touched"
      class="invalid-feedback"
    >
      Image URL is required.
    </div>
  </div>

  <div class="mb-3">
  <label for="description" class="form-label">Description</label>
  <input
    type="text"
    class="form-control"
    id="description"
    formControlName="description"
    [ngClass]="{
        'is-invalid': productForm.get('image')?.invalid && productForm.get('image')?.touched
      }"
  />
  <div
      *ngIf="productForm.get('image')?.invalid && productForm.get('image')?.touched"
      class="invalid-feedback"
    >
      Description is required.
    </div>
    </div>


  <div class="form-group form-check">
    <input
      type="checkbox"
      class="form-check-input"
      id="inStock"
      formControlName="inStock"
    />
    <label class="form-check-label" for="inStock">In Stock</label>
  </div>

  <button type="submit" class="btn btn-primary mt-3">Submit</button>
</form>
