<div class="d-flex justify-content-center mt-5">
  <div class="card shadow-sm" style="min-width: 400px; max-width: 600px; width: 100%;">
    <div class="card-body">
      <h4 class="card-title mb-4 text-center">Create User</h4>
      <form [formGroup]="userForm" (ngSubmit)="handleSubmit()">
        <div class="mb-3">
          <label for="name" class="form-label">Name</label>
          <input
            type="text"
            class="form-control"
            id="name"
            formControlName="name"
            [ngClass]="{
              'is-invalid': userForm.get('name')?.invalid && userForm.get('name')?.touched
            }"
          />
          <div *ngIf="userForm.get('name')?.invalid && userForm.get('name')?.touched" class="invalid-feedback">
            <div *ngIf="userForm.get('name')?.errors?.['required']">Name is required.</div>
            <div *ngIf="userForm.get('name')?.errors?.['minlength']">Minimum 3 characters.</div>
          </div>
        </div>

        <div class="mb-3">
          <label for="email" class="form-label">Email</label>
          <input
            type="email"
            class="form-control"
            id="email"
            formControlName="email"
            [ngClass]="{
              'is-invalid': userForm.get('email')?.invalid && userForm.get('email')?.touched
            }"
          />
          <div *ngIf="userForm.get('email')?.invalid && userForm.get('email')?.touched" class="invalid-feedback">
            <div *ngIf="userForm.get('email')?.errors?.['required']">Email is required.</div>
            <div *ngIf="userForm.get('email')?.errors?.['email']">Invalid email format.</div>
          </div>
        </div>
            

        <div class="mb-3">
          <label for="role" class="form-label">Role</label>
          <select
            class="form-select"
            id="role"
            formControlName="role"
            [ngClass]="{
              'is-invalid': userForm.get('role')?.invalid && userForm.get('role')?.touched
            }"
          >
            <option value="user">User</option>
            <option value="admin">Admin</option>
          </select>
          <div *ngIf="userForm.get('role')?.invalid && userForm.get('role')?.touched" class="invalid-feedback">
            Role is required.
          </div>
        </div>

        <button type="submit" class="btn btn-primary w-100">Create User</button>
      </form>
    </div>
  </div>
</div>
