<h2>Category List</h2>
<div style="text-align: right; margin-bottom: 10px;">
  <button class="btn btn-primary" [routerLink]="['/add-category']">
  Thêm danh mục
  </button>
</div>
<input
  type="text"
  [(ngModel)]="searchTerm"
  placeholder="Tìm kiếm theo tên..."
  class="search-input"
/>

<table class="category-table">
  <thead>
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>Options</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let category of filteredCategories()">
      <td>{{ category.id }}</td>
      <td>{{ category.name }}</td>
      <td>
          <div class="d-flex gap-2 mb-3">
          <button class="btn btn-primary mb-3"
          [routerLink]="['/update-category', category.id]"

          >
            Update
          </button>
          <button *ngIf="category.id !== undefined"
            class="btn btn-danger mb-3"
            (click)="handleDelete(category.id)">
            Delete
          </button>

          </div>
          
        </td>
    </tr>
  </tbody>
</table>
