<h2>Product List</h2>
<div style="text-align: right;">
  <button 
    class="btn btn-primary mb-3" 
    [routerLink]="['/add-product']">
     Thêm sản phẩm
  </button>
</div>
<input [(ngModel)]="filterText" placeholder="Tìm kiếm theo tên..." />
<div *ngIf="filterProducts().length > 0; else noProducts">
  <table>
    <thead>
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Price</th>
        <th>Status</th>
        <th>Description</th>
        <th>Category</th>
        <th>Brand</th>
        <th>Image</th>
        <th>Options</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let product of filterProducts()">
        <td>
          <a [routerLink]="['/product', product.id]">
            {{ product.id }}
          </a>
        </td>


        
        <td>{{ product.name | uppercase }}</td>
        <td>{{ product.price | currency : "VND" }}</td>
        <td [ngStyle]="{ color: product.inStock ? 'green' : 'red' }">
          {{ product.inStock ? "In Stock" : "Out of Stock" }}
        </td>
        <td>{{ product.description }}</td>
        <td>{{ getCategoryName(product.category) }}</td>
        <td>{{ getBrandName(product.brand) }}</td>

       <td>
          <img [src]="product.image" alt="{{ product.name }}" width="80" height="80" />
        </td>
        <td>
          <div class="d-flex gap-2 mb-3">
          <button class="btn btn-primary mb-3"
          [routerLink]="['/update-product', product.id]"

          >
            Update
          </button>
          <button *ngIf="product.id !== undefined"
            class="btn btn-danger mb-3"
            (click)="handleDelete(product.id)">
            Delete
          </button>

          </div>
          
        </td>
      </tr>
    </tbody>
  </table>
</div>
<ng-template #noProducts>
  <p>No products match the filter.</p>
</ng-template>