<h2>Product List</h2>
<input [(ngModel)]="filterText" placeholder="Filter by name" />
<div *ngIf="filterProducts().length > 0; else noProducts">
  <table>
    <thead>
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Price</th>
        <th>Status</th>
        <th>Description</th>
        <th>Image</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let product of filterProducts()">
        <td>
          <a [routerLink]="['/product', product.id]">
            {{ product.id }}
          </a>
        </td>


        
        <td>{{ product.name | uppercase }}</td>
        <td>{{ product.price | currency : "VND" }}</td>
        <td [ngStyle]="{ color: product.inStock ? 'green' : 'red' }">
          {{ product.inStock ? "In Stock" : "Out of Stock" }}
        </td>
        <td>{{ product.description }}</td>
       <td>
          <img [src]="product.image" alt="{{ product.name }}" width="80" height="80" />
        </td>
      </tr>
    </tbody>
  </table>
</div>
<ng-template #noProducts>
  <p>No products match the filter.</p>
</ng-template>